clan-badge {
    @media (max-width: 992px) {
        size: 250px;
    }
}

#clan-badge {
    margin-bottom: 9px;
    padding-right: 0;
    margin-right: -25px;
}

@media (max-width: 1002px) {
    #clan-badge {
        width: 6vw;
    }
}

@media (max-width: 1002px){
    #clan-name {
        font-size: 6vw;
    }
}

clan-heading {
    width: 80%;
}

#clan-heading {
    -ms-flex-preferred-size: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

#clan-name {
}