clan-badge {
    @media (max-width: 992px) {
        size: 250px;
    }
}

#clan-badge {
}

@media (max-width: 1002px) {
    #clan-badge {
        width: 5vw;
    }
}

clan-heading {
    width: 80%;
}

#clan-heading {
    width: 70% !important;
}