@media (min-width: 1455px){
    .clan-info-header > .item {
        font-size: 2vw !important;
    }

    .clan-info-header > div > img {
        width: 10% !important;
    }
}

@media (max-width: 912px){
    .clan-info-header > div > img {
        width: 15% !important;
    }

    .clan-info-header > .item {
        font-size: 2.5vw !important;
    }
}

.clan-info-header > .item {
    display: inline-block;
    margin-left: 2em;
    font-size: 3vw;
    font-weight: bold;
    height: 100%;
}

.clan-info-header > div > img {
    width: 25%;
}

#clan-badge {
    margin-bottom: 9px;
    padding-right: 0;
    margin-right: -25px;
}

#clan-description {
    font-size: 1.5vw;
    border: 0px;
}

@media (max-width: 1002px) {
    #clan-badge {
        width: 7vw;
    }
}

@media (max-width: 1002px){
    #clan-name {
        font-size: 8vw !important;
    }
}

@media (min-width: 1764px){
    #clan-name {
        font-size: 5.5vw !important;
    }
}

#clan-heading {
    -ms-flex-preferred-size: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

#clan-name {
    font-weight: bolder;
    font-variant: normal;
    font-family: 'Aldrich', sans-serif;
    font-size: 6vw;
}

#total-trophies-img {
    width: 30%;
}

#total-clan-war-trophies-img{
    width: 20% !important;
}

#total-trophies {
    font-size: 2.5vw;
}

#clan-description {
    text-align: center;
    height: fit-content;
}

.ui.grid {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.ui.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
}

.ui.segment,
.ui.segments .segment {
    font-size: 1rem;
}

.ui.grid>.row {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%!important;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.ui.grid>[class*="three column"].row>.column {
    width: 33.33333333%!important;
}

.ui.grid>.row>.column {
    margin-top: 0;
    margin-bottom: 0;
}

.ui.grid>.column:not(.row),
.ui.grid>.row>.column {
    position: relative;
    display: inline-block;
    width: 6.25%;
    padding-left: 1rem;
    padding-right: 1rem;
    vertical-align: top;
}

.clan_stats .content {
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 2rem;
    padding-left: 3rem;
}

#members-table {
    margin-top: 50px;
    margin-bottom: 100px;
}

.arena-img {
    width:50%;
}

.level-img {
    width:50%;
}

#members-table > div.tabulator-tableHolder > div > div > div > div > div.last-seen{
    color: rgb(139, 139, 139);
    font-size: 0.9rem;
    margin-top: -0.1rem;
}

div.tabulator-cell {
    align-items: center;
}

.battle-log-btn {
    border: none !important;
    background-image: url("../cr-assets/images/ui-icons/battle-ladder.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
}

.donations {
    text-shadow: 0 0 4px white;
}

body.modal-open .container{
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width:1200px;
        margin: 50px auto 50px;
    }
}

.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}